{% extends "base.html" %}

{% block content %}
<!-- Portfolio Section-->
<section class="page-section container">
    <table id="data" class="table table-striped table-bordered thead-dark">
      <thead>
        <tr>
        {% for h in headers %}
          <th bgcolor="green">{{ h }} </th>
        {% endfor %}
        <th></th>
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
          <tr>
            {% for entry in row %}
                {% if entry == "UP" %}
                  <td class="table-success">{{entry}}</td>
                {% else %}
                  <td>{{entry}}</td>
                {% endif %} 
            {% endfor %}
            <td><button type="button" class="btn btn-danger" onclick='myFunction("{{row[0]}}")'> Get IxOS Logs</button></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="loader">
        <div class="loading">
        </div>
    </div>
</section>
{% endblock %}