{% extends "base.html" %}

{% block content %}
<!-- Portfolio Section-->
<section class="page-section container">
  {% for row in rows %}
    <table id="data" class="table table-striped table-bordered">
      <thead>
        <tr>
        {% for h in headers %}
          <th>{{ h }} </th>
        {% endfor %}
        </tr>
      </thead>
      <tbody>
            {% for entry in row %}
              <tr >
                  <td>{{entry["activationCode"]}}</td>
                  <td>{{entry["quantity"]}}</td>
                  <td>{{entry["description"]}}</td>
                  <td>{{entry["expiryDate"]}}</td>
            </tr>
          {% endfor %}
      </tbody>
    </table>
    {% endfor %}
</section>
{% endblock %}