{% extends "base.html" %}
{% block content %}
<section class="page-section">
   <center>
   <div>
      <h5> Chooose Chassis to view utilization metrics </h5>
      {% for chassis in chassis_list%}
      <button type="button" onclick="getMetricsDetails('{{chassis["ip"]}}')" class="btn btn-primary">{{chassis["ip"]}} </button> &nbsp;&nbsp;
      {% endfor %}
   </div>
   <br/><br/>
   <div>
      <h5>{{ title }}</h5>
   </div>
   <div>
      <canvas id="memUtil" width="600" height="400"></canvas>
   </div>
   <br/><br/>
   <div>
      <h5> Now Showing: {{ip}} </h5>
   </div>
   <center>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
   <script>
      // Global parameters:
      // do not resize the chart canvas when its container does (keep at 600x400px)
      Chart.defaults.global.responsive = false;
      // define the chart data
      var chartData = {
        labels : [{% for item in date_timeline_value %}
                   '{{item}}',
                      {% endfor %}],
        datasets : [{
            label: '% CPU Utilization',
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data : [{% for item in cpu_values %}
                      {{item}},
                    {% endfor %}],
            spanGaps: false
        },{
          label: '% Memory Utilization',
          fill: false,
          lineTension: 0.1,
          backgroundColor: "rgba(0, 11, 136, 1)",
          borderColor: "rgba(0, 11, 136, 1)",
          borderCapStyle: 'butt',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: "rgba(0, 11, 136, 1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(75,192,192,1)",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 2,
          pointRadius: 1,
          pointHitRadius: 10,
          data : [{% for item in mem_values %}
                    {{item}},
                  {% endfor %}],
          spanGaps: false
      }]
      }
      
      var ctx = document.getElementById("memUtil").getContext("2d");
      
      
      // create the chart using the chart canvas
      var myChart = new Chart(ctx, {
        type: 'line',
        data: chartData,
        options: {
          scales: {
              yAxes: [{
                scaleLabel: {
                  display: true,
                  labelString: '% Percentage'
                }
              }],
              xAxes: [{
                  scaleLabel: {
                    display: true,
                    labelString: 'Datetime'
                  }
                }]
            },
          tooltips: {
            enabled: true,
            mode: 'single',
            callbacks: {
              label: function(tooltipItems, data) {
                       return tooltipItems.yLabel + 'Percentage';
                   }
            }
          },
        }
      });
      console.log(chartData)
   </script>
</section>
{% endblock %}