{% extends "base.html" %}

{% block content %}
<!-- Portfolio Section-->
<section class="page-section">
  <div class="text-center alert alert-success" role="alert">
    <h4> Chassis Licenses Details  </h4>
  </div>
    <div>
      <button type="button" class="btn btn-outline-primary" onclick="tableToCSV('0')">
        Download CSV
      </button>
      <form id="tabForms3" action = "/licenseDetails" method = "GET">
        <input class="btn btn-success"  type = "submit" value="Get Latest Data" />
      </form>
    <div>
    <br/>
    <div>
      <h5> Last Updated at (UTC): {{rows[0][0]["lastUpdatedAt_UTC"]}}
    </div>
    <table class="table table-striped table-bordered table-responsive table-condensed">
      <thead class="table-primary">
        <tr>
        {% for h in headers %}
          <th>{{ h }} </th>
        {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
            {% for entry in row %}
                  
                  {% if entry["isExpired"] == True or entry["isExpired"] == 'True' %}
                      {% set className = "table-danger"%}
                  {% else %}
                      {% set className = "table-success"%}
                  {% endif %}

                    <td style="width:auto" class={{className}}>{{entry["chassisIp"]}}</td>
                    <td style="width:auto" class={{className}}>{{entry["typeOfChassis"]}}</td>
                    <td style="width:auto" class={{className}}>{{entry["hostId"]}}</td>
                    <td style="width:auto" class={{className}}>{{entry["partNumber"]}}</td>
                    <td style="width:auto" class={{className}}>{{entry["activationCode"]}}</td>
                    <td style="width:auto" class={{className}}>{{entry["quantity"]}}</td>
                    <td style="width:auto" class={{className}}>{{entry["description"]}}</td>
                    <td style="width:auto" class={{className}}>{{entry["maintenanceDate"]}}</td>
                    <td style="width:auto" class={{className}}>{{entry["expiryDate"]}}
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          {% for h in headers %}
          <th>{{ h }} </th>
          {% endfor %}
        </tr>
    </tfoot>
    </table>
</section>
{% endblock %}