{% extends "base.html" %}

{% import "macros.jinja" as macros with context %}

{% block content %}
<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0"> Ixia Chassis </h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        
        <!-- Portfolio Grid Items-->
        <div class="row text-center justify-content-center">
            <!-- Portfolio Item cabin-->
            {% for chassis in data %}
            <div>
                {{ macros.chassis_item(chassis["chassis_information"]["chassisName"], chassis["chassis_information"]["mgmtIp"])}}
                <div><br/><div>
                {{ macros.chassis_modal(chassis["chassis_information"]["chassisName"], "Chassis Details", chassis) }}
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock%}