<!-- Chassis Info Modal-->
{% macro chassis_item(id, ip_address, type) %}
<div class="container text-center justify-content-center mx-auto" data-bs-toggle="modal" data-bs-target="#{{ id }}">
    <h3><span class="badge bg-secondary">{{type}}</span>
        <button type="button" class="btn btn-warning">{{ip_address}}</button>
</div>
<div><button type="button" class="btn btn-danger" onclick="myFunction('{{ip_address}}')">Collect Logs</button></h3></div>
{% endmacro %}

{% macro chassis_modal(id, title, chassis) %}
<div class="portfolio-modal modal " id="{{ id }}" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ chassis["chassis_information"]["mgmtIp"] }}</h2>
                            <h2> {{id}} </h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src={{chassis["chassis_information"]["chassis_model_img_src"]}} alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <div class="col d-flex justify-content-center card ">
                                <div class="card-header bg-info">
                                  Chassis Information
                                </div>
                                <ul class="list-group list-group-flush">
                                 {% for key, value in chassis["chassis_information"].items() %}
                                    {% if key not in ["chassis_model_img_src"]%}
                                         <li class="list-group-item"><h5><span class="badge bg-secondary">{{key}}:</span>&nbsp;<span class="badge bg-primary">{{value}}</span></h5></li>
                                    {% endif%}
                                         {% endfor %}
                                </ul>
                            </div>
                        <div><br/></div>
                        <!-- Portfolio Modal - Text-->
                        <div><br/></div>
                        <div class="col d-flex justify-content-right card ">
                                <div class="card-header bg-info">
                                  Chassis Cards Information
                                </div>
                                
                                {% for item in chassis["cards_information"] %}
                                    <div><span class="placeholder" style="width: 100%;"></span></div>
                                    <ul class="list-group list-group-flush">
                                    {% for key, value in item.items() %}
                                    <li class="list-group-item"><h5><span class="badge bg-secondary">{{key}}:</span>&nbsp;<span class="badge bg-primary">{{value}}</span></h5></li>
                                    {% endfor %}
                                    </ul>
                                {% endfor %}
                        </div>
                        
                        <!-- Portfolio Modal - Text-->
                        <div><br/></div>
                            <div class="col d-flex justify-content-center card ">
                                <div class="card-header bg-info">
                                  License Information
                                </div>
                                {% for item in chassis["license_information"] %}
                                <div><span class="placeholder" style="width: 100%;"></span></div>
                                <ul class="list-group list-group-flush">
                                {% for key, value in item.items() %}
                                <li class="list-group-item"><h5><span class="badge bg-secondary">{{key}}:</span>&nbsp;<span class="badge bg-primary">{{value}}</span></h5></li>
                                {% endfor %}
                                </ul>
                            {% endfor %}
                                
                        </div>
                        <div><br/></div>
                            <div class="col d-flex justify-content-center card ">
                                <div class="card-header bg-info">
                                Port Summary
                                </div>
                                    <ul class="list-group list-group-flush">
                                    {% for key, value in chassis["port_information"].items() %}
                                        {% if key == 'users_on_chassis' %}
                                            <li class="list-group-item"><h5><span class="badge bg-secondary">users_on_chassis</span></h5></li>
                                            {% for user in value %}
                                            <li class="list-group-item"><h5><span class="badge bg-primary">{{user}}</span></h5></li>
                                            {% endfor %}
                                        {% else %}
                                        <li class="list-group-item"><h5><span class="badge bg-secondary">{{key}}:</span>&nbsp;<span class="badge bg-primary">{{value}}</span></h5></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

