{% extends "base.html" %}


{% block content %}
<!-- Portfolio Section-->
<section class="page-section portfolio">

<html>
    <body>
    <div>
        <div class="text-center alert alert-danger" role="alert">
            <h4>If this is your first time using the system OR you want to add/remove ixia servers to be monitored,
                <h2> you need to upload config.py configuration file to continue. <h2></h4>
        </div>
    </div<
    <div class="container form-group mb-3">
      <form id="uploader" action = "/uploader" method = "POST"  enctype = "multipart/form-data">
         <input class="form-control form-control-lg" type = "file" name = "file" /><br/>
         <input  class="btn btn-primary mb-3"  type = "submit" value="Get all data and Proceed"/>
      </form>
    </div>  
</html>
</section>
{% endblock %}

