{% extends "base.html" %}


{% block content %}
<!-- Portfolio Section-->
<section class="page-section portfolio">

<html>
    <body>
    <div class="container form-group mb-3">
      <form id="uploader" action = "/uploader" method = "POST"  enctype = "multipart/form-data">
         <input class="form-control form-control-lg" type = "file" name = "file" /><br/>
         <input  class="btn btn-primary mb-3"  type = "submit" value="Get Chassis Summary"/>
      </form>
    </div>  
</html>
</section>
{% endblock %}